/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 7px #1C4595;
    background-color: #E7E5E8;
  }


body {
  background-color: #01080A;
}

#content {
  margin: 10px;
  padding: 10px;
  border: solid 5px #101010;
  background-color: #E76A24;
}

 h1 {
    color: #1C4595;
    font-family: Garamond;
    font-size: 300%;
  }

    h2 {
    color: #1C4595;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 200%;
  }

