/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #ffe551;
    background-color: #8e60fd;
  }

  body {
    background-color: #100064;
  }

  h1 {
    color: #00afbf;
    font-family: impact;
    font-size: 300%;
  }

  h2 {
    color: #F98C40;
    font-size: 200%;
  }