/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #66DDAA;
    background-color: #11489F;
  }

  .special {
    background-color: #FF7260;
    border: double 100px #2169BA;
    color: #46C696;
    font-weight: bold;
}

body {
  background-color: #404040;
}

#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #101010;
  background-color: #11489F;
}

  h1 {
    color: #7FFFD7;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
  }

  h2 {
    color: #7FFFD7;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
  }