/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #333333;
    background-color: #F2AEBB;
  }

  body {
    background-color: #A7AAE1;
  }

  h1 {
    color: #696FC7;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
  }

  h2 {
    color: #A091D6;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
  }