/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px #00074f;
    background-color: #DDD8C4;
  }

body {
  background-color: #100064;
}

h1 {
  color: #5b2dd1;
  font-family: Verdana;
  font-size: 300%;
}

h2 {
  color: #1392c4;
  font-size: 200%;
}