/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #FF004D;
  }


body {
  background-color: #1D2B53;
}

#content {
  margin: 10px;
  padding: 10px;
  border: solid 5px #101010;
  background-color: #FAEF5D;
}

 h1 {
    color: #7E2553;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
  }

    h2 {
    color: #7E2553;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
  }

